<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"       
 		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuração da conexão com o banco -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--property name="connection.url">jdbc:mysql://localhost:3306/demodb</property -->
        <property name="connection.url">jdbc:mysql://mysql:3306/demodb</property>
        <property name="connection.username">root</property>
        <property name="connection.password">toor</property>
        
        <!-- Configuração do dialecto para MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Gerenciamento da sessão -->
        <property name="current_session_context_class">thread</property>
        
        <!-- Tamanho do pool de conexões -->
        <property name="connection.pool_size">1</property>

        <!-- Configuração para gerar automaticamente o esquema no banco -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento dos POJOs -->
        <mapping resource="com/demo/domain/Customer.hbm.xml"/>
    </session-factory>
</hibernate-configuration>